body {
	display: block;
	max-width: 320px;
	margin: auto;
	padding: 5px;
	color: #e6d5d5;
}

h1 {
	text-align: left;
}

p {
	text-align: justify;
}

div {
	max-width: 300px;
	margin: auto;
	padding: 10px;
}

#contact {
	background-color: #443644;
	border-radius: 30px;
	border-style: dashed;
	border-width: 3px;
	border-color: black;
	max-width: 320px;
}

label {
	width: 100%;
}

input {
	width: 100%;
	border: 0px;
	border-radius: 5px;
}

textarea {
	width: 100%;
	border: 0px;
	border-radius: 5px;
	height: 100px;
}
.row .large-12 .small-12 {
	width: 100%;
	display: inline-grid;
}
.large-6 .small-6 {
	width: 50%;
	display: inline-flex;
}
.success {
	background-color: green;
	color: white;
}
.alert {
	background-color: red;
	color: black;
}
.button {
	border: 0px;
	padding: 7px;
	color: white;
}
footer {
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 2px;
	text-align: right;
}
